/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/05/2018, 02:53:47 AM
    Author     : yeyof
*/

.bg-registro{
	background: #E8EED8;
	border-radius: 10px;
}

.bg-footer{
	background: #868686;
	color: #F6FCFF;
	font-family: Century Gothic;
	font-size: 11px;
}

.text-money{
    color: #E9EFF8;	
    font-family: Century Gothic, sans-serif;
}