/* 
    Created on : 25-ago-2015, 10:39:58
    Author     : gandhi.aguirre
*/


.vertical-align {
    display: flex;
    align-items: center;
}
.alert-default{
    background-color: #bbbbbb;
    border-color: #7D7D7D;
    color: white;
}
h1 {
    /*	color:#3498DB!important;*/

}
.ui-column-title{
    font-weight: bold!important;
}
/*
.navbar-inverse
,.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #2D3E50!important;
}
.navbar-inverse .navbar-brand,.navbar-inverse .navbar-nav > li > a  {
    color: white!important;
}
*/
#headerTextId{
    text-transform: uppercase!important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    background-color: rgb(254, 253, 185) !important;
    background-image: none !important;
    color: black !important;
}

.dropdown-menu>li>a {
    font-size: 13px !important;
}

.ui-selectonemenu-filter-container {
    width: 98% !important;
}

/*Disable field color*/
.pure-form input[type="text"][disabled], .pure-form input[type="password"][disabled],
.pure-form input[type="email"][disabled], .pure-form input[type="url"][disabled],
.pure-form input[type="date"][disabled], .pure-form input[type="month"][disabled],
.pure-form input[type="time"][disabled], .pure-form input[type="datetime"][disabled],
.pure-form input[type="datetime-local"][disabled], .pure-form input[type="week"][disabled],
.pure-form input[type="number"][disabled], .pure-form input[type="search"][disabled],
.pure-form input[type="tel"][disabled], .pure-form input[type="color"][disabled],
.pure-form select[disabled], .pure-form textarea[disabled] {
    color: #7D7D7D !important;
}

.google-visualization-orgchart-node {
    width: 240px !important;
}

.google-visualization-orgchart-node-medium {
    vertical-align: top !important;
}

/* LOADING STYLE */
#loading {
    z-index: 1000;
    position: fixed;
    bottom: 5%;
    right: 5%;
    margin: 0;
    opacity: 0.85;
    /*
    font-size: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    */
}

.plus-loader:not(:required){
    width:60px !important;
    height:60px !important;
    border-radius:30px !important;
}
/* STYLE TABLES */
.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.fade.in {
    opacity: 1;
}

.collapse {
    display: none;
}

.collapse.in {
    display: block;
}

tr.collapse.in {
    display: table-row;
}

tbody.collapse.in {
    display: table-row-group;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.35s;
    -o-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

table {
    background-color: transparent;
}

caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #bbbbbb;
    text-align: left;
}

th {
    text-align: left;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 23px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td,
.table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.846;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
}

.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td
{
    border-top: 0;
}

.table>tbody+tbody {
    border-top: 2px solid #dddddd;
}

.table .table {
    background-color: #ffffff;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td,
.table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
    padding: 5px;
}

.table-bordered {
    border: 1px solid #dddddd;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #dddddd;
}

.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
    border-bottom-width: 2px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table-hover>tbody>tr:hover {
    background-color: #f5f5f5;
}

table col[class*="col-"] {
    position: static;
    float: none;
    display: table-column;
}

table td[class*="col-"], table th[class*="col-"] {
    position: static;
    float: none;
    display: table-cell;
}

.table>thead>tr>td.active, .table>tbody>tr>td.active, .table>tfoot>tr>td.active,
.table>thead>tr>th.active, .table>tbody>tr>th.active, .table>tfoot>tr>th.active,
.table>thead>tr.active>td, .table>tbody>tr.active>td, .table>tfoot>tr.active>td,
.table>thead>tr.active>th, .table>tbody>tr.active>th, .table>tfoot>tr.active>th
{
    background-color: #f5f5f5;
}

.table-hover>tbody>tr>td.active:hover, .table-hover>tbody>tr>th.active:hover,
.table-hover>tbody>tr.active:hover>td, .table-hover>tbody>tr:hover>.active,
.table-hover>tbody>tr.active:hover>th {
    background-color: #e8e8e8;
}

.table>thead>tr>td.success, .table>tbody>tr>td.success, .table>tfoot>tr>td.success,
.table>thead>tr>th.success, .table>tbody>tr>th.success, .table>tfoot>tr>th.success,
.table>thead>tr.success>td, .table>tbody>tr.success>td, .table>tfoot>tr.success>td,
.table>thead>tr.success>th, .table>tbody>tr.success>th, .table>tfoot>tr.success>th
{
    background-color: #dff0d8;
}

.table-hover>tbody>tr>td.success:hover, .table-hover>tbody>tr>th.success:hover,
.table-hover>tbody>tr.success:hover>td, .table-hover>tbody>tr:hover>.success,
.table-hover>tbody>tr.success:hover>th {
    background-color: #d0e9c6;
}

.table>thead>tr>td.info, .table>tbody>tr>td.info, .table>tfoot>tr>td.info,
.table>thead>tr>th.info, .table>tbody>tr>th.info, .table>tfoot>tr>th.info,
.table>thead>tr.info>td, .table>tbody>tr.info>td, .table>tfoot>tr.info>td,
.table>thead>tr.info>th, .table>tbody>tr.info>th, .table>tfoot>tr.info>th
{
    background-color: #e1bee7;
}

.table-hover>tbody>tr>td.info:hover, .table-hover>tbody>tr>th.info:hover,
.table-hover>tbody>tr.info:hover>td, .table-hover>tbody>tr:hover>.info,
.table-hover>tbody>tr.info:hover>th {
    background-color: #d8abe0;
}

.table>thead>tr>td.warning, .table>tbody>tr>td.warning, .table>tfoot>tr>td.warning,
.table>thead>tr>th.warning, .table>tbody>tr>th.warning, .table>tfoot>tr>th.warning,
.table>thead>tr.warning>td, .table>tbody>tr.warning>td, .table>tfoot>tr.warning>td,
.table>thead>tr.warning>th, .table>tbody>tr.warning>th, .table>tfoot>tr.warning>th
{
    background-color: #ffe0b2;
}

.table-hover>tbody>tr>td.warning:hover, .table-hover>tbody>tr>th.warning:hover,
.table-hover>tbody>tr.warning:hover>td, .table-hover>tbody>tr:hover>.warning,
.table-hover>tbody>tr.warning:hover>th {
    background-color: #ffd699;
}

.table>thead>tr>td.danger, .table>tbody>tr>td.danger, .table>tfoot>tr>td.danger,
.table>thead>tr>th.danger, .table>tbody>tr>th.danger, .table>tfoot>tr>th.danger,
.table>thead>tr.danger>td, .table>tbody>tr.danger>td, .table>tfoot>tr.danger>td,
.table>thead>tr.danger>th, .table>tbody>tr.danger>th, .table>tfoot>tr.danger>th
{
    background-color: #f9bdbb;
}

.table-hover>tbody>tr>td.danger:hover, .table-hover>tbody>tr>th.danger:hover,
.table-hover>tbody>tr.danger:hover>td, .table-hover>tbody>tr:hover>.danger,
.table-hover>tbody>tr.danger:hover>th {
    background-color: #f7a6a4;
}

.table-responsive {
    overflow-x: auto;
    min-height: 0.01%;
}

@media screen and (max-width: 767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 17.25px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #dddddd;
    }
    .table-responsive>.table {
        margin-bottom: 0;
    }
    .table-responsive>.table>thead>tr>th, .table-responsive>.table>tbody>tr>th,
    .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td,
    .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tfoot>tr>td
    {
        white-space: nowrap;
    }
    .table-responsive>.table-bordered {
        border: 0;
    }
    .table-responsive>.table-bordered>thead>tr>th:first-child,
    .table-responsive>.table-bordered>tbody>tr>th:first-child,
    .table-responsive>.table-bordered>tfoot>tr>th:first-child,
    .table-responsive>.table-bordered>thead>tr>td:first-child,
    .table-responsive>.table-bordered>tbody>tr>td:first-child,
    .table-responsive>.table-bordered>tfoot>tr>td:first-child {
        border-left: 0;
    }
    .table-responsive>.table-bordered>thead>tr>th:last-child,
    .table-responsive>.table-bordered>tbody>tr>th:last-child,
    .table-responsive>.table-bordered>tfoot>tr>th:last-child,
    .table-responsive>.table-bordered>thead>tr>td:last-child,
    .table-responsive>.table-bordered>tbody>tr>td:last-child,
    .table-responsive>.table-bordered>tfoot>tr>td:last-child {
        border-right: 0;
    }
    .table-responsive>.table-bordered>tbody>tr:last-child>th,
    .table-responsive>.table-bordered>tfoot>tr:last-child>th,
    .table-responsive>.table-bordered>tbody>tr:last-child>td,
    .table-responsive>.table-bordered>tfoot>tr:last-child>td {
        border-bottom: 0;
    }
}
/*START STYLE INPUTS (paper bootswatch theme bootstrap)*/

textarea, textarea.form-control, input[type="text"], input[type="password"],
input[type="email"], input[type="number"], textarea, select {

    font-size: 13px !important;

}


ui-widget-header {
    font-size: 13px !important;
}

input:focus, input[type="text"]:focus, input[type="password"]:focus,
input[type="email"]:focus, input[type="number"]:focus, textarea:focus,
select:focus {
    border-color: #66AFE9 !important;
    outline: 0px none !important;
}

label {
    font-size: 13px !important;
}

.pure-form-aligned .pure-control-group label {
    display: inline-block !important;
    vertical-align: middle !important;
    /*width: 13em!important;*/
    margin: 0px 1em 0px 0px !important;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item label,
.ui-selectcheckboxmenu .ui-selectcheckboxmenu-label {
    font-size: 11px !important;
}

.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-filter-container .ui-icon
{
    display: none;
}

/*END STYLE INPUTS*/

/*COLOR DE SELECCION PRIMEFACES*/
/*
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background-color: rgb(102, 175, 233)!important;
    background-image:linear-gradient(to bottom, rgb(102, 175, 233), rgb(92, 165, 223));;
}
*/
.navbar-brand {
    font-size: 17px !important;
    /*color: white !important;*/
}

.btn {
    font-size: 13px !important;
    margin: 5px!important;
}

body, .pure-menu, .btn, .modal-content {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial,
        sans-serif !important;
    font-size: 13px !important;
}

.ui-datatable-tablewrapper {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial,
        sans-serif !important;
    font-size: 13px !important;
}

#menu .pure-menu-selected a {
    /*background: #1CB841 none repeat scroll 0% 0% !important;*/
    color: white !important;
    /*background-image: linear-gradient(to bottom, #08C, #0077B3);*/
}

#menu .pure-menu li a:hover, #menu .pure-menu li a:focus {
    /*background: #1CB841 none repeat scroll 0% 0% !important;*/
    color: white !important;
}

#menu .pure-menu ul, #menu .pure-menu .menu-item-divided:hover {
    color: white !important;
}
/* Start Compatibilidad Modal Bootstrap y Primefaces */
.modal {
    z-index: 902 !important;
}

.modal-backdrop {
    z-index: 901 !important;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    z-index: 900 !important;
}

.ui-growl {
    font-size: 13px !important;
    position: fixed !important;
    z-index: 9999 !important;
}

/*
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #eee!important;
    // margin: 0px!important;
    // right: 0px!important;
    background: #fcf8e3 50% 50% repeat-x!important;
    // background: white 50% 50% repeat-x!important;
    color: black!important;
    font-size: 13px!important;
}
*/
/* End Compatibilidad Modal Bootstrap y Primefaces */

/* Para 600px */
@media only screen and (max-width: 600px) and (min-width: 0px) {
    .pure-button {
        width: 100% !important;
    }
}

.pure-g {
    letter-spacing: normal !important;
}

/*Data tables styles*/
.ui-datatable {
    /*font-size: 11px !important;*/
    margin-top: 20px !important;
    text-transform: uppercase !important;
}

/* Header space */
.header {
    margin-bottom: 20px !important;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-items-wrapper {
    font-size: 11px !important;
}
/* Tabla responsiva Primefaces */
.ui-datatable-hor-scroll .ui-datatable-tablewrapper, .scrolling-div .ui-datatable-tablewrapper
{
    overflow: auto !important;
    width: 100% !important;
    padding-bottom: 5px !important;
    overflow-y-top: visible !important;
}

.ui-datatable .ui-column-filter {
    width: 100% !important;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/* Quitar la linea inferior del commandLink */
.ui-commandlink { 
    font-size: 11px;
    font-weight: normal !important;
    text-decoration: none !important; 
    text-transform: uppercase;
}

/*Cambiar tamï¿½o de fuente del selector de columnas*/
.ui-columntoggler .ui-columntoggler-item {
    font-size: 13px !important;
}

/* Hides checkbox header*/
.ui-selectcheckboxmenu-header .ui-chkbox {
    display: none !important;
}

/* Fixing pure theme css*/
.content {
    width: 100% !important;
    padding: 10px !important;
    max-width: 99% !important;
}

#menu .pure-menu-selected, #menu .pure-menu-heading {
    background: none !important;
}

/*Fixing icons */
.ui-paginator .ui-paginator-next .ui-icon, .ui-paginator .ui-paginator-prev .ui-icon,
.ui-paginator .ui-paginator-first .ui-icon, .ui-paginator .ui-paginator-last .ui-icon
{
    height: 20px !important;
}

.ui-selectcheckboxmenu {
    height: 30px !important;
}

#menu {
    /*width: 130px !important;*/
    background: black none repeat scroll 0% 0% !important;
}

/* Pure css further style */
Customizing Buttons Colored buttons with rounded corners
.button-success, .button-error, .button-warning, .button-secondary {
    color: white !important;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px !important;
}

.pure-button {
    margin-bottom: 5px !important;
}

.button-success {
    color: white !important;
    background: rgb(28, 184, 65); /* this is a green */
}

.button-danger {
    color: white !important;
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    color: white !important;
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    color: white !important;
    background: rgb(66, 184, 221); /* this is a light blue */
}

Buttons with different sizes
.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}
/*Styles for login pase*/
.cn {
    position: relative;
    width: 500px;
    height: 500px;
}

.inner {
    display: absolute;
    width: 200px;
    height: 200px;
}

.flex-Responisve {
    flex-flow: row wrap;
    display: flex;
    padding: 10px;
}

.centered-Row {
    margin: auto;
}

.preset-button-size {
    width: 150px;
}

.panel-secondary {
    border-color: #6BB8F5;
}